:root {
  /* var(--color-1) */
  --color-1: #FFFFFF;
  --color-2: #E5E5E5;
  --color-3: #333333;
  --color-4: #FF9900;
  --color-5: #CACACA;
  --color-6: #222222;
  --color-7: #414141;
  --color-8: #97EE3F;
  --color-9: #E1670E;
  --color-10: #666666;
  --color-11: #000000;
}

@media (max-width: 1600px) {
  .how-img {
    margin-left: 5px;
  }
}

@media (max-width: 1366px) {
  .header-nav__item:not(:last-child) {
    margin-right: 40px;
  }

  .header-search {
    margin: 0 0 0 40px;
  }

  .about-box {
    flex-direction: column;
  }

  .about-card__bottom {
    width: 100vw;
  }

  .about-right {
    margin-top: 30px;
  }

  .about-right__bottom-icon-card {
    margin-top: 30px;
  }

  .how-left {
    flex-shrink: 0;
  }
}

@media (max-width: 1024px) {
  body.lock {
    overflow: hidden;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
  }

  .header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .header-container {
    padding: 0 50px;
  }

  .header-logo {
    position: relative;
    width: 150px;
    height: 48px;
    transform: translateX(-2px);
    z-index: 5;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 23px;
    z-index: 5;
  }

  .burger-btn {
    width: inherit;
    height: inherit;
    background-color: inherit;
    border-style: none;
  }

  .header__burger span {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--color-3);
    transition: all .3s ease;
  }

  .header__burger::before,
  .header__burger::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--color-3);
    transition: all .3s ease;
  }

  .header__burger::before {
    top: 0;
  }

  .header__burger::after {
    bottom: 0;
  }

  .header__burger.active::before {
    transform: rotate(45deg);
    top: 10px;
  }

  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 10px;
  }

  .header__burger.active span {
    transform: scale(0);
  }

  .header__burger:hover span {
    position: absolute;
    top: 10px;
    left: 5px;
    width: 25px;
    height: 3px;
    background-color: var(--color-4);
    transition: all .3s ease;
  }

  .header__burger:active span {
    position: absolute;
    top: 10px;
    left: 5px;
    width: 25px;
    height: 3px;
    background-color: var(--color-9);
    transition: all .3s ease;
  }

  .header__burger:hover::before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--color-4);
    transition: all .3s ease;
  }

  .header__burger:hover::after {
    content: '';
    position: absolute;
    left: 12px;
    width: 18px;
    height: 3px;
    background-color: var(--color-4);
    transition: all .3s ease;
  }

  .header__burger:active::before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--color-9);
    transition: all .3s ease;
  }

  .header__burger:active::after {
    content: '';
    position: absolute;
    left: 12px;
    width: 18px;
    height: 3px;
    background-color: var(--color-9);
    transition: all .3s ease;
  }

  .header__burger.active:hover::before {
    transform: rotate(45deg);
    top: 10px;
  }

  .header__burger.active:hover::after {
    width: 30px;
    left: 0;
    transform: rotate(-45deg);
    bottom: 10px;
  }

  .header__burger.active:active::before {
    transform: rotate(45deg);
    top: 10px;
  }

  .header__burger.active:active::after {
    width: 30px;
    left: 0;
    transform: rotate(-45deg);
    bottom: 10px;
  }

  .header-nav {
    position: fixed;
    top: -100%;
    left: 0;
    margin-top: 100px;
    padding: 7px 50px 0;
    width: 100%;
    height: 3rem;
    background-color: var(--color-5);
    overflow: auto;
    transition: all .3s ease;
    z-index: 3;
  }

  .header-nav.active {
    top: 0;
  }

  .header-search {
    right: 50px;
  }

  .header-search__btn {
    margin: 0;
    transform: translate(2px, 2px);
  }

  .hero-bg__heading {
    font-size: 60px;
    line-height: 73px;
  }

  .section-container {
    padding: 0 50px 54px;
  }

  .swiper-container {
    min-height: 768px;
  }

  .swiper-pic__img {
    min-height: 768px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }

  .hero-bg {
    margin-top: -772px;
    max-width: 924px;
    min-height: 768px;
    padding-left: 45px;
    padding-right: 45px;
    background: url('/img/balconies-1024.jpg') no-repeat;
    background-size: cover;
  }

  .hero-bg__heading {
    padding-top: 260px;
  }

  .hero-bg__desc {
    margin-top: 10px;
    max-width: 658px;
    font-size: 20px;
    line-height: 24px;
  }

  .hero-bg__btn {
    margin-top: 110px;
    padding: 26px 36px;
    max-width: 287px;
    font-size: 24px;
  }

  .section-heading {
    margin-bottom: 16px;
  }

  .about-box {
    margin-top: 62px;
  }

  .about-card_bg {
    min-height: 640px;
    background: url('/img/worker-1024.png') no-repeat;
    background-size: cover;
  }

  .about-card__bottom {
    justify-content: space-between;
    min-height: 174px;
    padding: 39px 50px 39px 44px;
  }

  .about-card__btn {
    margin-left: 76px;
    padding: 19px 35px 16px;
  }

  .about-right {
    margin-top: 50px;
  }

  .about-right__bottom-icon-card {
    margin-top: 38px;
  }

  .icon-card {
    padding: 66px 0 66px 112px;
  }

  .icon-card__icon-1 {
    transform: translateY(5px);
  }

  .icon-card__icon-2 {
    transform: translateY(-3px);
  }

  .how__title {
    transform: translateX(-5px);
  }

  .how-step__list {
    margin-top: 40px;
  }

  .how-box {
    margin-top: 42px;
  }

  .how-left {
    width: 49%;
  }

  .how-left__desc {
    margin-top: 3px;
  }

  .how-left__btn-more {
    margin-top: 28px;
  }

  .how-left__btn-contract {
    margin-left: 26px;
    min-height: 60px;
  }

  .questions__title {
    margin-top: -10px;
  }

  .questions__list {
    margin-top: 29px;
  }

  .questions__item {
    padding: 30px 0;
  }

  .ui-widget button {
    font-size: 20px;
  }

  .questions__heading {
    font-size: 20px;
  }

  .footer-container {
    padding: 47px 49px;
    transform: translateY(-5px);
  }

  .footer-left {
    width: 30%;
  }

  .footer__logo {
    margin-bottom: 16px;
    width: 224px;
    height: 72px;
    transform: translateY(1px);
  }

  .footer-form__heading {
    transform: translate(12px, -3px);
  }

  .footer-form__input {
    max-width: 534px;
    min-height: 60px;
    transform: translate(16px, -8px);
  }

  .footer-form__text {
    max-width: 534px;
    transform: translate(16px, -6px);
  }

  .footer-form__btn {
    width: 241px;
    padding: 20px 38px 18px;
    transform: translate(16px, -6px);
  }

  .form__btn-checkbox {
    display: flex;
    align-items: center;
  }

  .footer-form__custom-checkbox+.footer-form__label {
    transform: translate(10px, 2px);
  }

  .footer-right {
    display: none;
  }
}

@media (max-width: 768px) {
  .header-container {
    min-height: 69px;
  }

  .section-container {
    padding: 0 50px 50px;
  }

  .header__burger {
    transform: translate(-2px, -2px);
  }

  .header-nav {
    margin-top: 69px;
    height: 13rem;
  }

  .header-nav__list {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 10px;
  }

  .header-nav__item:not(:last-child) {
    margin: 0 0 15px 0;
  }

  .header-search.active {
    top: 69px;
  }

  .header-search__btn {
    transform: translate(1px, -1px);
  }

  .section-container__hero {
    padding: 0 0 53px 0;
  }

  .hero-bg {
    max-width: 768px;
    min-height: 768px;
    padding-left: 49px;
    padding-right: 0;
    background: url('/img/balconies-768.jpg') no-repeat;
    background-size: cover;
  }

  .about-card_bg {
    margin-top: 1px;
    max-width: 668px;
    min-height: 650px;
    background: url('/img/worker-768.png') no-repeat;
    background-size: cover;
  }

  .about-card__bottom {
    min-height: 173px;
    padding: 25px 29px 25px 29px;
  }

  .about-card__info {
    max-width: 401px;
    min-height: 119px;
  }

  .about-card__btn {
    margin-left: 0;
    transform: translate(-1px, 1px);

  }

  .about-right {
    margin-top: 40px;
  }

  .about-right__bottom-icon-card {
    margin-top: 40px;
  }

  .icon-card {
    min-height: 235px;
    padding: 35px 33px 35px 31px;
  }

  .icon-card__icon-1 {
    margin-top: 33px;
    width: 118px;
    height: 90px;
    background: url('/img/group1-768.png') no-repeat;
    transform: translate(-8px, 2px);
  }

  .icon-card__icon-2 {
    margin-top: 35px;
    width: 116px;
    height: 99px;
    background: url('/img/group2-768.png') no-repeat;
  }

  .icon-card__heading {
    transform: translateY(-2px);
  }

  .icon-card__desc {
    margin-left: 28px;
    transform: translateY(2px);
  }

  .how__title {
    margin-top: 4px;
  }

  .how-step__list {
    margin-top: 40px;
    justify-content: space-between;
  }

  .how-box {
    flex-direction: column-reverse;
  }

  .how-img {
    margin-top: 2px;
    margin-left: 0;
    min-height: 284px;
  }

  .how-left {
    margin-top: 35px;
    width: 100%;
  }

  .questions__title {
    margin-top: 4px;
    margin-right: -30px;
    /* white-space: nowrap; */
  }

  .questions__heading::before {
    transform: translateY(-1px);
  }

  .questions__item-ico {
    margin-left: 35px;
  }

  .footer-container {
    margin-top: 13px;
    padding: 57px 50px;
    flex-direction: column-reverse;
    justify-content: flex-start;
    transform: translateY(-4px);
  }

  .footer__logo {
    margin-top: 40px;
  }

  .footer-nav {
    display: none;
  }

  .footer__list-social {
    margin-top: -2px;
  }

  .footer-form__border {
    margin-left: -28px;
  }

  .footer-form__heading {
    padding: 0;
    transform: translate(10px, -5px);
  }
}

@media (max-width: 576px) {
  .header-nav {
    padding: 7px 15px 0;
  }

  .header-search__btn {
    display: none;
  }

  .header-nav__list {
    align-items: flex-end;
  }

  .header-container {
    flex-direction: row-reverse;
    padding: 0px 15px;
  }

  .section-container {
    padding: 39px 15px 6px;
  }

  .section-container__hero {
    padding: 0 15px;
  }

  .footer-container {
    padding: 45px 15px 45px;
  }

  .header-logo {
    position: fixed;
    top: 12px;
    left: 15px;
  }

  .hero-bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 45px;
    padding-right: 45px;
  }

  .hero-bg__heading {
    padding-top: 160px;
    font-size: 40px;
    line-height: 53px;
    text-align: center;
  }

  .hero-bg__desc {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }

  .hero-bg__btn {
    margin-top: 100px;
    padding: 21px 15px;
    max-width: 245px;
    min-height: 60px;
    white-space: nowrap;
  }

  .about-card__bottom {
    flex-direction: column;
    min-height: 230px;
  }

  .icon-card {
    flex-direction: column;
  }

  .icon-card__icon-1 {
    margin: 0;
  }

  .icon-card__icon-2 {
    margin: 0;
  }

  .icon-card__desc {
    margin: 0;
    margin-top: 30px;
  }

  .how-step__item:not(:last-child) {
    margin-right: 0;
  }

  .how-left {
    margin: 0;
  }

  .questions__title {
    margin-right: 0;
    /* white-space: normal; */
  }

  .footer-container {
    align-items: center;
  }

  .form__btn-checkbox {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-form__label {
    margin: 0;
  }

  .footer-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    width: 100%;
    border-top: 1px solid var(--color-5);
  }
}

@media (max-width: 320px) {
  .header-container {
    min-height: 45px;
  }

  .header-logo {
    transform: translateX(1px);
  }

  .header__burger {
    transform: translateX(1px);
  }

  .header-nav {
    margin-top: 45px;
  }

  .header-logo {
    top: 8px;
    width: 97px;
    height: 31px;
  }

  .header__burger {
    width: 25px;
    height: 19px;
  }

  .header__burger span {
    width: 100%;
    top: 8px;
    height: 3px;
  }

  .header__burger::before,
  .header__burger::after {
    width: 100%;
    height: 3px;
  }

  .header__burger.active::before {
    top: 8px;
  }

  .header__burger.active::after {
    bottom: 8px;
  }

  .header__burger:hover span {
    position: absolute;
    top: 8px;
    left: 5px;
    width: 20px;
    height: 3px;
    background-color: var(--color-4);
    transition: all .3s ease;
  }

  .header__burger:active span {
    position: absolute;
    top: 8px;
    left: 5px;
    width: 20px;
    height: 3px;
    background-color: var(--color-9);
    transition: all .3s ease;
  }

  .header__burger:hover::before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--color-4);
    transition: all .3s ease;
  }

  .header__burger:hover::after {
    content: '';
    position: absolute;
    left: 10px;
    width: 15px;
    height: 3px;
    background-color: var(--color-4);
    transition: all .3s ease;
  }

  .header__burger:active::before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--color-9);
    transition: all .3s ease;
  }

  .header__burger:active::after {
    content: '';
    position: absolute;
    left: 10px;
    width: 15px;
    height: 3px;
    background-color: var(--color-9);
    transition: all .3s ease;
  }

  .header__burger.active:hover::before {
    transform: rotate(45deg);
    top: 8px;
  }

  .header__burger.active:hover::after {
    width: 25px;
    left: 0;
    transform: rotate(-45deg);
    bottom: 8px;
  }

  .header__burger.active:active::before {
    transform: rotate(45deg);
    top: 8px;
  }

  .header__burger.active:active::after {
    width: 25px;
    left: 0;
    transform: rotate(-45deg);
    bottom: 8px;
  }

  .swiper-container {
    min-height: 307px;
  }

  .swiper-pic__img {
    min-height: 307px;
  }

  .hero-bg {
    margin-top: -311px;
    max-width: 290px;
    min-height: 307px;
    padding-left: 22px;
    padding-right: 22px;
    background: url('/img/balconies-320.jpg') no-repeat;
    background-size: cover;
  }

  .hero-bg__heading {
    padding-top: 77px;
    font-size: 20px;
    line-height: 24px;
  }

  .hero-bg__desc {
    margin-top: 8px;
    font-size: 12px;
    line-height: 15px;
  }

  .hero-bg__btn {
    margin-top: 35px;
    padding: 11px 30px 14px;
    font-size: 12px;
    line-height: 15px;
    max-width: 162px;
    min-height: 40px;
    transform: translateX(-1px);
  }

  .section-heading {
    margin-bottom: 0;
    font-size: 24px;
    line-height: 29px;
  }

  .about__desc {
    font-size: 14px;
    line-height: 28px;
    transform: translateY(2px);
  }

  .about-box {
    margin-top: 12px;
  }

  .about-card_bg {
    padding-top: 200px;
    max-width: 290px;
    min-height: 200px;
    background: url('/img/worker-320.png') no-repeat;
    background-size: contain;
  }

  .about-card__bottom {
    align-items: flex-start;
    padding: 0;
    min-height: 200px;
    background-color: var(--color-1);
  }

  .about-card__info {
    margin-top: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: var(--color-3);
  }

  .about-card__btn {
    padding: 9px 43px 12px;
    max-width: 162px;
    min-height: 40px;
    font-size: 12px;
    line-height: 15px;
    color: var(--color-4);
    border: 2px solid var(--color-4);
    transform: translateY(-2px);
  }

  .about-right {
    margin-top: 34px;
  }

  .icon-card__desc {
    margin-top: 18px;
  }

  .about-right__bottom-icon-card {
    margin-top: 18px;
  }

  .icon-card {
    padding: 0;
    border: none;
  }

  .icon-card__icon-1 {
    width: 64px;
    height: 49px;
    background: url('/img/group1-320.png') no-repeat;
  }

  .icon-card__icon-2 {
    width: 63px;
    height: 55px;
    background: url('/img/group2-320.png') no-repeat;
    transform: translateY(6px);
  }

  .icon-card__heading {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }

  .icon-card__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
  }

  .how__title {
    transform: translateX(-1px);
  }

  .how-step__list {
    margin-top: 32px;
  }

  .how-step__btn {
    font-size: 14px;
    line-height: 17px;
  }

  .how-box {
    margin-top: 13px;
  }

  .how-img {
    min-height: 160px;
  }

  .how-left__heading {
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    transform: translateY(3px);
  }

  .how-left__desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
  }

  .how-left__btn-more {
    margin-top: 20px;
    max-width: 162px;
    min-height: 40px;
    padding: 12px 44px 14px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
  }

  .how-left__btn-contract {
    margin-left: 6px;
    max-width: 118px;
    min-height: 40px;
    padding: 10px 31px 13px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
  }

  .questions__title {
    margin-top: -6px;
  }

  .questions__list {
    margin-top: 11px;
  }

  .questions__item {
    min-height: 100px;
  }

  .ui-widget button {
    font-size: 14px;
  }

  .questions__heading {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }

  .questions__item-ico {
    margin-left: 30px;
    width: 30px;
    height: 30px;
    background-image: url('/img/plus.png');
  }

  .questions__item:hover .questions__item-ico {
    background-image: url('/img/plus-hover.png');
  }

  .acc__text {
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 16px;
  }

  .footer-container {
    margin-top: 39px;
    padding-top: 43px;
  }

  .footer-form__border {
    padding: 0;
  }

  .footer-form__heading {
    margin-bottom: 25px;
  }

  .footer-form__input {
    margin-bottom: 25px;
    margin-left: -4px;
    max-width: 290px;
  }

  .footer-form__text {
    margin-left: -4px;
    max-width: 290px;
  }

  .footer-form__btn {
    margin-top: 17px;
    padding: 12px 23px;
    max-width: 180px;
    min-height: 40px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    white-space: nowrap;
  }

  .form__checkbox-label {
    margin-left: 3px;
  }

  .footer-form__custom-checkbox+.footer-form__label::before {
    margin-left: 0;
    transform: translateX(3px);
  }

  .footer__logo {
    margin-top: 23px;
    width: 131px;
    height: 42px;
  }

  .footer__list-social {
    margin: 0;
  }

  .footer__item-social:not(:last-child) {
    margin-right: 15px;
  }

  .footer__item-icon {
    width: 34px;
    height: 34px;
  }

  .footer__item-icon-fb {
    background: url('/img/fb.png') no-repeat;
  }

  .footer__item-icon-vk {
    background: url('/img/vk.png') no-repeat;
  }

  .footer__item-icon-inst {
    background: url('/img/instagram.png') no-repeat;
  }
}
