:root {
  /* var(--color-1) */
  --color-1: #FFFFFF;
  --color-2: #E5E5E5;
  --color-3: #333333;
  --color-4: #FF9900;
  --color-5: #CACACA;
  --color-6: #222222;
  --color-7: #414141;
  --color-8: #97EE3F;
  --color-9: #E1670E;
  --color-10: #666666;
  --color-11: #000000;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/montserrat-v15-latin_cyrillic-regular.woff2') format('woff2'),
    url('../fonts/montserrat-v15-latin_cyrillic-regular.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local(''),
    url('../fonts/montserrat-v15-latin_cyrillic-500.woff2') format('woff2'),
    url('../fonts/montserrat-v15-latin_cyrillic-500.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local(''),
    url('../fonts/montserrat-v15-latin_cyrillic-600.woff2') format('woff2'),
    url('../fonts/montserrat-v15-latin_cyrillic-600.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('../fonts/montserrat-v15-latin_cyrillic-700.woff2') format('woff2'),
    url('../fonts/montserrat-v15-latin_cyrillic-700.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: local(''),
    url('../fonts/montserrat-v15-latin_cyrillic-800.woff2') format('woff2'),
    url('../fonts/montserrat-v15-latin_cyrillic-800.woff') format('woff');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.swiper-pagination-bullet:focus,
.swiper-button-prev:focus,
.swiper-button-next:focus,
.questions__item:focus,
input:focus,
textarea:focus,
a:focus,
button:focus,
.footer-form__btn:focus {
  outline: 3px solid rgba(0, 123, 255, 1);
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  background-color: var(--color-1);
}

/* header */
.header-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 75px;
  min-height: 100px;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.1);
}

.header__burger {
  display: none;
}

.header-logo {
  display: inline-block;
}

.header__nav-search {
  display: flex;
}

.header-nav__list {
  display: flex;
  margin-top: 3px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: var(--color-3);
  transform: translateX(1px);
  transform: translateY(2px);
}

.header-nav__item:not(:last-child) {
  margin-right: 85px;
}

.header-nav__item {
  transition-property: border, color;
  transition-duration: .3s;
  transition-timing-function: ease;
}

.header-nav__item:hover {
  border-bottom: 2px solid var(--color-4);
}

.header-nav__item:active {
  color: var(--color-9);
  border-bottom: 2px solid var(--color-9);
}

.header-search {
  position: absolute;
  top: -100%;
  right: 75px;
  max-width: 300px;
  height: 30px;
  overflow: auto;
  transition: all .3s ease;
  z-index: 3;
}

.header-search.active {
  top: 100px;
}

.header-search__input {
  width: 100%;
  height: 100%;
  padding-left: 10px;
  background-color: var(--color-2);
  border-radius: 25px;
  border: none;
}

.header-search__btn {
  /* position: absolute; */
  /* top: 50%; */
  margin: 0 12px 0 71px;
  width: 26px;
  height: 26px;
  background: url('../img/search.svg') center no-repeat transparent;
  border: none;
  cursor: pointer;
  transition: background-image .3s ease;
  /* transform: translateY(-50%); */
  transform: translateX(2px);
  transform: translateY(2px);
}

.header-search__btn.active {
  transition: all .3s ease;
}

.header-search__btn:hover {
  background-image: url('/img/search-hover.svg');
  background-repeat: no-repeat;
}

.header-search__btn:active {
  background-image: url('/img/search-active.svg');
  background-repeat: no-repeat;
}

/* hero */
.section-container {
  padding: 0 75px 96px;
}

.swiper-container {
  /* position: relative; */
  max-width: 100%;
  min-height: 620px;
  /* z-index: 1; */
}

.swiper-pic__img {
  max-width: 100%;
  min-height: 620px;
  /* object-fit: cover;
  object-position: center; */
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--color-10);
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: var(--color-4);
}

.swiper-button-next:active,
.swiper-button-prev:active {
  color: var(--color-9);
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  line-height: 15px;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.4);
}

.swiper-pagination-bullet-active {
  background-color: var(--color-1);
}

.hero-bg {
  position: relative;
  margin-top: -624px;
  max-width: 1770px;
  min-height: 620px;
  padding-left: 78px;
  background: url('/img/balconies.jpg') no-repeat;
  background-size: cover;
}

.hero-bg__heading {
  position: relative;
  margin: 0;
  padding-top: 105px;
  max-width: 842px;
  font-weight: 800;
  font-size: 70.4px;
  line-height: 86px;
  color: var(--color-1);
  z-index: 1;
}

.hero-bg__desc {
  position: relative;
  max-width: 837px;
  margin-top: 18px;
  font-weight: 700;
  font-size: 23.5px;
  line-height: 29px;
  color: var(--color-1);
  z-index: 1;
}

.hero-bg__btn {
  position: relative;
  display: inline-block;
  max-width: 280px;
  min-height: 80px;
  margin-top: 97px;
  padding: 26px 37px;
  font-weight: 700;
  font-size: 23.5px;
  line-height: 29px;
  text-align: center;
  color: var(--color-1);
  background-color: var(--color-4);
  transform: translate(3px, -1px);
  transition: background-color .3s ease;
  z-index: 1;
}

.hero-bg__btn:hover {
  background-color: rgba(255, 153, 0, 0.6);
}

.hero-bg__btn:active {
  background-color: var(--color-9);
}

/* about */
.section-heading {
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 48px;
  line-height: 70px;
  color: var(--color-3);
}

.about__desc {
  max-width: 1235px;
  min-height: 192px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: var(--color-3);
  transform: translateY(4px);
}

.about__desc_tooltip {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url('/img/i-tooltip.svg') no-repeat;
}

.about-box {
  display: flex;
  flex: 1 1 50%;
  justify-content: space-between;
  margin-top: 48px;
}

.about-card_bg {
  display: flex;
  align-items: flex-end;
  min-height: 622px;
  background: url('/img/worker.jpg') no-repeat;
  background-size: cover;
}

.about-card__bottom {
  display: flex;
  align-items: center;
  min-height: 176px;
  padding: 40px 54px 40px;
  background-color: rgba(0, 0, 0, 0.5);
}

.about-card__info {
  max-width: 497px;
  min-height: 90px;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-1);
}

.about-card__btn {
  max-width: 175px;
  min-height: 60px;
  margin-left: 76px;
  padding: 17px 35px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: var(--color-1);
  border: 3px solid var(--color-4);
  transition: background-color .3s ease;
}

.about-card__btn:hover {
  background-color: var(--color-4);
}

.about-card__btn:active {
  background-color: var(--color-9);
}

.about-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.icon-card {
  display: flex;
  min-height: 295px;
  padding: 67px 118px 67px 62px;
  background-color: var(--color-1);
  border: 1px solid var(--color-5);
}

.icon-card__icon-1 {
  display: inline-block;
  flex-shrink: 0;
  margin-top: 4px;
  width: 178px;
  height: 137px;
  background: url('/img/group1.png') no-repeat;
}

.icon-card__icon-2 {
  display: inline-block;
  flex-shrink: 0;
  width: 178px;
  height: 153px;
  background: url('/img/group2.png') no-repeat;
  transform: translateY(-12px);
}

.icon-card__heading {
  margin-bottom: 2px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-3);
}

.icon-card__desc {
  max-width: 452px;
  min-height: 156px;
  margin-left: 58px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-3);
}

/* how */
.how-step__list {
  display: flex;
  margin-top: 38px;
}

.how-step__item {
  margin-top: 3px;
}

.how-step__btn {
  font-size: 18px;
  line-height: 22px;
  color: var(--color-3);
  border-style: none;
  background-color: var(--color-1);
  cursor: pointer;
  transition: color .3s ease;
}

.how-step__item:not(:last-child) {
  margin-right: 89px;
}

.how-step__btn:hover {
  color: var(--color-4);
}

.how-step__btn:active {
  color: var(--color-9);
}

.tab-content {
  display: none;
}

.tab-content-active {
  display: block;
}

.tabs__btn.tab-content-active {
  color: var(--color-4);
}

.how-box {
  display: flex;
  flex: 1 1 50%;
  justify-content: space-between;
  margin-top: 42px;
}

.how-left {
  margin-top: 3px;
  width: 44%;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-3);
}

.how-left__heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-3);
}

.how-left__desc {
  margin-top: 3px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: var(--color-3);
}

.how-left__btn-more {
  display: inline-block;
  max-width: 175px;
  min-height: 60px;
  margin-top: 61px;
  padding: 21px 39px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: var(--color-1);
  background-color: var(--color-4);
  transition: background-color .3s ease;
}

.how-left__btn-more:hover {
  background-color: rgba(255, 153, 0, 0.6);
}

.how-left__btn-more:active {
  background-color: var(--color-9);
}

.how-left__btn-contract {
  display: inline-block;
  max-width: 147px;
  min-height: 58px;
  margin-left: 28px;
  padding: 19px 38px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: var(--color-3);
  border: 1px solid var(--color-3);
  transition-property: color, background-color;
  transition-duration: .3s;
  transition-timing-function: ease;
}

.how-left__btn-contract:hover {
  color: var(--color-1);
  background-color: var(--color-10);
}

.how-left__btn-contract:active {
  color: var(--color-1);
  background-color: var(--color-11);
}

.how-img {
  margin-top: 14px;
  max-width: 870px;
  min-height: 465px;
}

.how-right__img {
  max-width: 100%;
  height: auto;
}

/* questions */
.questions__title {
  margin-top: -5px;
}

.questions__list {
  width: 100%;
  margin-top: 30px;
}

.questions__item,
.ui-accordion .ui-accordion-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 111px;
  border-top: 1px solid var(--color-5);
  border-bottom: 1px solid transparent;
  transform: translate(3px, 2px);
  transition: background-color .3s ease;
}

.ui-widget button {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}

.questions__heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-align: left;
  color: var(--color-3);
  background-color: inherit;
  border-style: none;
  cursor: pointer;
  transition: color .3s ease;
}

.questions__heading::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(2px);
}

.questions__heading:hover {
  color: var(--color-4);
}

.questions__item-ico {
  display: inline-block;
  flex-shrink: 0;
  margin-left: 110px;
  width: 50px;
  height: 50px;
  background-image: url('/img/plus.svg');
  background-repeat: no-repeat;
  transition: background-image .3s ease;
}

.ui-state-active .questions__item-ico {
  transition: transform .3s ease;
  transform: rotate(45deg);
}

.questions__item:hover .questions__item-ico {
  background-image: url('/img/plus-hover.svg');
  background-repeat: no-repeat;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
  border: none;
  background: var(--color-1);
  font-weight: normal;
}

.ui-icon {
  display: none;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
  border: none;
  background: var(--color-1);
  font-weight: normal;
}

.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
  border-top-right-radius: 0;
}

.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
  border-top-left-radius: 0;
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
  border-bottom-right-radius: 0;
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
  border-bottom-left-radius: 0;
}

.ui-accordion .ui-accordion-content {
  padding: 1em 0;
}

.ui-widget-content {
  border: none;
}

.acc-text {
  height: 100%;
  background-color: var(--color-1);
  transform: translate(3px, 2px);
}

.acc__text {
  margin-bottom: 40px;
  max-width: 1003px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-3);
}

/* footer */
.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1920px;
  min-height: 630px;
  margin-top: 6px;
  padding: 44px 75px 80px;
  background-color: var(--color-6);
}

.footer-left {
  width: 26%;
}

.footer__logo {
  margin-bottom: 19px;
  transform: translateY(5px);
}

.footer-nav__item {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: var(--color-5);
}

.footer-nav__item:not(:last-child) {
  margin-bottom: 14px;
}

.footer__list-social {
  display: flex;
  margin-top: 114px;
}

.footer__item-icon {
  display: inline-block;
  width: 61px;
  height: 61px;
  transition: opacity .3s ease;
}

.footer__item-icon-fb {
  background: url('/img/fb.svg') no-repeat;
}

.footer__item-icon-vk {
  background: url('/img/vk.svg') no-repeat;
}

.footer__item-icon-inst {
  background: url('/img/instagram.svg') no-repeat;
}

.footer__item-icon:hover {
  opacity: .5;
}

.footer__item-icon:active {
  opacity: .2;
}

.footer__item-social:not(:last-child) {
  margin-right: 25px;
}

.footer-form__border {
  display: flex;
  flex-direction: column;
  border: 0 none;
}

.footer-form__heading {
  padding-top: 8px;
  font-weight: 400;
  font-size: 48px;
  line-height: 70px;
  color: var(--color-5);
  transform: translateX(-2px);
}

.footer-form_bg {
  background-color: var(--color-7);
}

.footer-form__input {
  width: 100%;
  min-height: 58px;
  margin-bottom: 24px;
  padding: 14px 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-5);
  border-style: none;
}

.footer-form__text {
  width: 100%;
  padding: 14px 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-5);
  border-style: none;
  resize: none;
}

.footer-form__btn {
  margin-top: 25px;
  padding: 21px 52px;
  max-width: 269px;
  min-height: 60px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: var(--color-1);
  background: var(--color-4);
  cursor: pointer;
  border-style: none;
  transition: background-color .3s ease;
}

.footer-form__btn:hover {
  background-color: rgba(255, 153, 0, 0.6);
}

.footer-form__btn:active {
  background-color: var(--color-9);
}

.footer-form__custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.footer-form__custom-checkbox+.footer-form__label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.footer-form__custom-checkbox+.footer-form__label::before {
  content: '';
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-left: 20px;
  margin-right: 4px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid var(--color-5);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 70% 70%;
}

.footer-form__custom-checkbox:checked+.footer-form__label::before {
  border-color: var(--color-5);
  background-color: var(--color-6);
  background-image: url('/img/check.svg');
  /* background-position: center center; */
}

/* стили при наведении курсора на checkbox */
.footer-form__custom-checkbox:not(:disabled):not(:checked)+.footer-form__label:hover::before {
  border-color: #b3d7ff;
}

/* стили для активного состояния чекбокса (при нажатии на него) */
.footer-form__custom-checkbox:not(:disabled):active+.footer-form__label::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}

/* стили для чекбокса, находящегося в фокусе */
.footer-form__custom-checkbox:focus+.footer-form__label::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 1);
}

/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.footer-form__custom-checkbox:focus:not(:checked)+.footer-form__label::before {
  border-color: #80bdff;
}

/* стили для чекбокса, находящегося в состоянии disabled */
.footer-form__custom-checkbox:disabled+.footer-form__label::before {
  background-color: #e9ecef;
}

.form__checkbox-label {
  display: inline-block;
  transform: translateY(5px);
}

.footer-form__label {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-5);
}

.footer-right {
  width: 20%;
  margin-top: 83px;
  transform: translate(-7px, 2px);
}

.footer-right__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-5);
}
