@import '_variables.scss';
@import '_mixins.scss';

.about {

  &__bg {
    background-color: $color-bg-dark;
  }

  &__box {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    @include container;
  }

  &__left {
    padding: 30px 0 50px 0;
  }

  &__title {
    margin: 0 0 5px 0;
    color: $color-text-light;
  }

  &__descr {
    margin: 0;
    font: 16px/28px $font-Roboto;
    color: $color-text-mid;
  }

  &__right {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    padding: 63px 0 50px 0;
  }

  &__photo {
    margin-bottom: 25px;
  }

  &__fieldset {
    margin: 0;
    padding: 0;
    border: none;
  }

  &__legend {
    margin-bottom: 14px;
    font: 24px/22px $font-TTFN;
    color: $color-text-light;
  }

  &__input {
    position: relative;
    margin: 0 26px 20px 0;
    padding-left: 23px;
    border: none;
    width: 475px;
    height: 50px;
    color: $color-text-mid;
    caret-color: $color-text-mid;
    background-color: $color-bg-mid;
  }

  &__input:focus-visible {
    border: 1px solid $hover;
  }

  &__input:hover::placeholder {
    color: $hover;
  }

  // &__input:focus-visible::placeholder {
  //   color: transparent;
  // }

  &__input::placeholder {
    font: 16px/19px $font-Roboto;
    color: $color-text-mid;
  }

  &__btn {
    width: 126px;
    height: 50px;
    font: 700 16px/19px $font-Roboto;
    color: $color-text-light;
    background-color: $hover;
    transform: translateY(2px);
  }

  &__btn:focus-visible {
    border: 3px solid $active;
  }

  &__btn:hover {
    background-color: $focus;
  }

  &__btn:active {
    background-color: $active;
  }
}

.js-validate-error-label {
  position: absolute;
  margin: -66px 0 0 23px;
  width: max-content;
  font: 9px/11px $font-Roboto;
}

@media (max-width: 1024px) {
  .about {

    &__left {
      padding: 30px 0 124px 0;
    }

    &__right {
      padding: 63px 0 137px 0;
    }

    &__photo {
      margin-bottom: 16px;
    }

    &__legend {
      margin-bottom: 16px;
    }

    &__input {
      margin-right: 0;
      width: 343px;
    }
  }
}

@media (max-width: 768px) {
  .about {

    &__box {
      padding: 0 27px;
    }

    &__left {
      padding: 30px 0 63px 0;
    }

    &__right {
      padding: 63px 0 63px 0;
    }
  }
}

@media (max-width: 600px) {
  .about {

    &__box {
      grid-template-rows: auto auto;
      grid-template-columns: 1fr;
      column-gap: 0;
      padding: 0 21px;
    }

    &__left {
      padding: 30px 0 0 0;
    }

    &__descr {
      font: 14px/25px $font-Roboto;
    }

    &__photo {
      justify-self: center;
      margin-bottom: 25px;
    }

    &__right {
      padding: 25px 0 60px 0;
    }

    &__legend {
      margin-bottom: 14px;
      font: 18px/22px $font-TTFN;
    }

    &__input {
      width: 278px;
      height: 40px;
    }

    &__input::placeholder {
      font: 14px/16px $font-Roboto;
    }

    &__btn {
      width: 115px;
      height: 40px;
      font: 700 14px/16px $font-Roboto;
    }
  }

  .title {
    font: 700 18px/23px $font-TTFN;
  }
}
