.main {
  grid-area: main;
  display: grid;
  grid-template-rows: repeat(6, auto);
  grid-template-columns: auto;
}

.title {
  margin: 0;
  font: 700 24px/31px $font-TTFN;
  color: $color-text-dark;
}
