@mixin container {
  margin: 0 auto;
  padding: 0 31px;
  max-width: 1352px;
}

@mixin absolute {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
}

@mixin font-n400 {
  font-style: normal;
  font-weight: 400;
}

@mixin font-n500 {
  font-style: normal;
  font-weight: 500;
}

@mixin font-n700 {
  font-style: normal;
  font-weight: 700;
}

@mixin font-16-1 {
  font-size: 16px;
  line-height: 1;
}

@mixin font-14-18 {
  font-size: 14px;
  line-height: 18px;
}

@mixin font-16-22 {
  font-size: 16px;
  line-height: 22px;
}

@mixin font-16-28 {
  font-size: 16px;
  line-height: 28px;
}
