$color-bg-light: #fff;
$color-bg-mid: #4a4a4a;
$color-bg-dark: #202020;
$color-bg-tab: #c4c4c4;
$color-bg-btn: #FFD4C1;

$color-text-light: #fff;
$color-text-mid: #cacaca;
$color-text-dark: #202020;
$color-cite: #666;
$color-hashtag: #333;
$color-tab: #223444;
$tab-focus: #ffd4c1;
$tab-hover: #e9e9e9;
$color-text-aside: #FFF500;

$color-search: #E9E9E9;
$burger-line: #808080;
$validate: #FF3030;
$calendar-text: #999;

$focus: #BC572B;
$hover: #FF6E30;
$active: #CE4307;

$font-Roboto: Roboto, sans-serif;
$font-TTFN: 'TT Firs Neue', sans-serif;
$font-Muller: Muller, sans-serif;
