html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
  background-color: green;
}

ul {
  list-style: none;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
}

.menu {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.variant {
  font-size: 2.5em;
  font-weight: 600;
}

.title {
  margin-top: 20px;
  font-size: 3em;
  text-align: center;
}

.list-cards {
  display: grid;
  grid-template-rows:
    minmax(60px, 125px) minmax(60px, 125px)
    minmax(60px, 125px) minmax(60px, 125px);
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 20px 0;
}

.card {
  display: grid;
  justify-items: center;
  align-items: center;
  border-radius: 10px;
  font-size: 4em;
  font-weight: 600;
  color: brown;
  background-color: brown;
}

.card:hover {
  box-shadow: 0 0 5px #2f2d2d;
  cursor: pointer;
}

.flip {
  background-color: white;
}

.button-next {
  display: none;
  position: relative;
  left: 50%;
  border: 3px solid yellow;
  border-radius: 100px;
  padding: 10px 21px;
  color: white;
  font-size: 2em;
  font-weight: 600;
  background-color: #0a07ce;
  cursor: pointer;
  transform: translateX(-50%);
  transition: background-color 0.3s;
}

.button-next:hover {
  background-color: #041649;
}

.button-next:active {
  background-color: indigo;
}
