html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

.list-posts {
  margin-left: 20px;
}

.item-post {
  margin-bottom: 10px;
}

.link-post {
  color: #333;
  font-size: 2em;
  text-decoration: none;
  transition: color 0.3s, text-decoration 0.3s;
}

.link-post:hover {
  color: blue;
  text-decoration: underline;
}

.btn-pagination {
  display: inline-block;
  margin: 2px;
  min-width: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 6px 0;
  color: blue;
  font-size: 1.6em;
  text-align: center;
  text-decoration: none;
  transition: color 0.3s, background-color 0.3s;
}

.btn--active {
  border: 1px solid rgb(182, 30, 119);
  color: white;
  background-color: rgb(182, 30, 119);
}

.btn-pagination:hover {
  color: white;
  background-color: blue;
}

.title-post {
  color: #333;
  font-size: 3em;
}

.info-post {
  margin-bottom: 20px;
  border-bottom: 2px solid green;
  padding-bottom: 20px;
  color: #333;
  font-size: 1.6em;
}

.list-comments {
  margin-left: 50px;
}

.item-comment {
  margin-bottom: 10px;
}

.item-name,
.item-text {
  display: block;
  font-size: 1.6em;
}

.item-name {
  font-weight: 600;
}
